{% extends "base.jinja2" %}

{% block title %}
  Book Tastes
{% endblock title %}

{% block call %}
  <div class="call-to-action call-to-action__image">
    <div class="call-to-action__content">
      <h1 class="call-to-action__title">Сайт о вкусной и полезной пище</h1>
      <p class="call-to-action__text-block">
        Готовьте с нами и радуйте себя вкусной едой, семейным уютом и
        отличным настроением
      </p>
    </div>
  </div>
{% endblock call %}

{% block content %}
  <div class="catalog">
    <div class="search">
      <form action="">
        <input
          type="text"
          placeholder="Введите название рецепта, сборника или игридиента"
          value=""
        />
        <button class="search" type="submit"></button>
      </form>
    </div>
    <div class="food-catalog">
      <div class="food-catalog__header">
        <h2 class="food-catalog__title">Категория блюд</h2>
      </div>
      <div>
        <ul class="food-switcher">
          <li class="food-switcher__item pervoe">
            <a href="">Первые блюда</a>
          </li>
          <li class="food-switcher__item vtoroe">
            <a href="">Вторые блюда</a>
          </li>
          <li class="food-switcher__item salat">
            <a href="">Салаты</a>
          </li>
          <li class="food-switcher__item desert">
            <a href="">Выпечка</a>
          </li>
          <li class="food-switcher__item zakuski">
            <a href="">Закуски</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
      
  <div class="recepts">
    <h2 class="recepts-catalog__header">Рецепты</h2>
    <div class="recepts-catolog">
      {% for recept in recepts %}
        <div class="recept-catalog__row">
          <div class="recept-catalog__item rci_left">
            <div class="dificult">
              <div class="cook"></div>
              <div class="cook"></div>
              <div class="cook"></div>
              <div class="cook"></div>
            </div>
            <a href="" class="recept-catalog__item__img__link">
              <img src="../static/s1201.jpg" class="recept-catalog__item__img">
            </a>
            <div class="recept-catalog__item__title">
              <a href="">{{recept['name']}}</a>
            </div>
            <div class="recept-catalog__item__content">
              <div class="recept-catalog__item__time">{{recept['time']}}</div>
              <div class="recept-catalog__item__portions">{{recept['portions']}}</div>
            </div>
          </div>
          <div class="recept-catalog__item"></div>
          <div class="recept-catalog__item rci_right"></div>
        </div>
      {% endfor %}
      <div class="recept-catalog__row">
        <div class="recept-catalog__item rci_left">
          <div class="dificult">
            <div class="cook"></div>
            <div class="cook"></div>
            <div class="cook"></div>
            <div class="cook"></div>
          </div>
          <a href="" class="recept-catalog__item__img__link">
            <img src="../static/s1201.jpg" class="recept-catalog__item__img">
          </a>
          <div class="recept-catalog__item__title">
            <a href="">Горячие пирожки</a>
          </div>
          <div class="recept-catalog__item__content">
            <div class="recept-catalog__item__time">40 минут</div>
            <div class="recept-catalog__item__portions">8 порций</div>
          </div>
        </div>
        <div class="recept-catalog__item"></div>
        <div class="recept-catalog__item rci_right"></div>
      </div>
      <div class="recept-catalog__row last_row">
        <div class="recept-catalog__item rci_left"></div>
        <div class="recept-catalog__item"></div>
        <div class="recept-catalog__item rci_right"></div>
      </div>
    </div>     
    <div class="recepts-catalog__btn">
      <a href="/recepts">Все рецепты</a>
    </div>
  </div>
{% endblock content %}
