{% extends "base.jinja2" %}

{% block title %}
  Рецепты
{% endblock title %}

{% block content %}
  <div class="recept-content">
    <div class="recept_head1">
      <div class="recept-head1_time">{{recept['time']}}</div>
      <div class="recept-head1_portions">{{recept['portions']}}</div>
      <div class="recept-head1_author">Автор: {{recept['author']}}</div>
    </div>
    <div class="recept_head2">
      <div class="recept_head_title">
        <h1>{{recept['name']}}</h1>
        <p>{{recept['description']}}</p>
      </div>
      <img src="{{recept['image']}}">
    </div>
    <div class="catalog">
      <div class="recept_ingridients">
        <h2>Ингедиенты</h2>
        <table>
          {% for ingredient in recept['ingredients'] %}
            <tr>
              <td class="ingridient">{{ingredient['name']}}</td>
              <td>{{ingredient['count']}}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="recept_prigotovlenie">
      <h2>Процесс приготовления</h2>
      {% for stage in recept['stages'] %}
        <div class="stage">
          <h3>Этап {{stage['index']}}</h3>
          <p>{{stage['description']}}</p>
          <img src="{{stage['image']}}">
        </div>
      {% endfor %}
    </div> 
    <div class="recept_itog">
      <h2>Итог</h2>
      <p>{{recept['total']}}</p>
    </div>
  </div>  
{% endblock content %}

